* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial;
  line-height: 1.6;
  background-color: white;
}

header {
  background: white;
  color: #fff;
  padding: 1rem 0;  
}


.logo {
  color: rgb(0, 0, 0);
  padding-left: 50px;
}

.img-div {
  margin-right: 50px;
}

.pic {
  width: 400px;
  height: 400px;
  border: none;
  border-radius: 50%;
}

nav {
  font-family: Poppins, sans-serif;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 7px;
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  font-family: Poppins, sans-serif;
}

nav ul li {
  margin: 0 15px;
  font-family: Poppins, sans-serif;
}

nav ul li a, 
nav p {
  color: black;
  text-decoration: none;
  font-family: Poppins;
  font-size: large;
  font-weight: 500;
}

.logo {
  left: 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
  background: url('hero-bg.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  margin-top: -20px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  font-weight: bold;
  color: grey;
}

.job {
  margin-bottom: 20px;
}



.hero .cv-btn, .in-btn {
  background-color: #4d4a49;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: 30px;
}

.hero .cv-btn {
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.50s;
}

.hero .cv-btn:hover {
  background-color: rgb(68, 65, 65);
  color: white;
  border: solid 1px rgb(68, 65, 65);
}

.hero .in-btn {
  background-color: rgb(68, 65, 65);
  color: white;
  border: solid 1px rgb(68, 65, 65);
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.50s;
}

.in-btn:hover {
  background-color: white;
  color: black;
  border: solid 1px black;
}


.pic2 {
  margin-left: 30px;
  width: 300px;
  height: 450px;
  border-radius: 20px;
  margin-right: 50px;
}




.about-section h2 {
  margin-bottom: 50px;
}

.about-section, .services-section, .certifications-section, .experience-section, .contact-section {
  padding: 2rem 0;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
}

.descripsition {
  display: flex;
  max-width: 600px;
  color: #4d4a49;
  align-items: flex-start;
  text-align: start;
}

.exp-main {
  margin-bottom: 20px;
  font-weight: bolder;
  text-decoration: underline;
}

.ser {
  margin-bottom: 12px;
}



.experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.year,
.edu {
  border: solid 1px rgb(107, 107, 107);
  border-radius: 20px;
  padding: 20px 70px;
}

.year {
  padding: 20px 90px;
}

.year p,
.edu p {
  color: #4d4a49;
  font-weight: 550;
}


.ep {
  margin-bottom: 5px;
}

.exp,
.edu-img {
  width: 35px;
  height: 35px;
}



.service-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.service-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  border: solid 1px rgb(68, 65, 65);
}

.certifications-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cert-card {
  background-color: rgb(68, 65, 65);
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
}

.timeline {
  list-style-type: none;
  padding-left: 0;
}

.timeline li {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(107, 105, 105);
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px) ;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  color: black;
}

.x {
  margin-top: 30px;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menuButton {
  display: none;
}

@media screen and (max-width: 830px) {
  .hideOnMobile{
    display: none;
  }

  .menuButton{
    display: block;
  }

  .hero-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-div{
    margin-left: 0px;
    margin-right: 0px;
  }


  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .experience {
    flex-direction: column;
    align-items: center;
  }

  .year, 
  .edu {
    width: 300px;
  }

  .pic2 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .service-cards {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .service-card {
    width: 100%;
    margin-bottom: 15px;
  }

  #name, #email, #message {
    width: 300px;
  }


  
}

@media screen and (max-width: 600px) {
  

  .pic {
    width: 300px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .hero-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-div{
    margin-left: 0px;
    margin-right: 0px;
  }


  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .experience {
    flex-direction: column;
    align-items: center;
  }

  .year, 
  .edu {
    width: 300px;
  }

  .pic2 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .service-cards {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .service-card {
    width: 100%;
    margin-bottom: 15px;
  }

  #name, #email, #message {
    width: 300px;
  }

}

@media screen and (max-width: 372px) {
  
  .btn-div {
    display: flex;
    flex-direction: column;
  }

  .pic {
    width: 275px;
    height: 275px;
  }

  .hero-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    max-width: 300x;
  }

  .experience {
    flex-direction: column;
    align-items: center;
  }

  .year, 
  .edu {
    width: 300px;
  }

  .pic2 {
    margin-right: 0px;
    margin-left: 0px;
  }

  .service-cards {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .service-card {
    width: 100%;
    margin-bottom: 15px;
  }

  #name, #email, #message {
    width: 300px;
  }

}
  
